:root {
	--syntax_normal: #ffffff;
	--syntax_comment: #ffffff;
	--syntax_number: #ffffff;
	--syntax_keyword: #ffffff;
	--syntax_atom: #ffffff;
	--syntax_string: #ffffff;
	--syntax_error: #ffffff;
	--syntax_unknown_variable: #ffffff;
	--syntax_known_variable: #ffffff;
	--syntax_matchbracket: #ffffff;
	--syntax_key: #ffffff;
	--mono_fonts: 82%/1.5 Menlo,Consolas,monospace
}

.observablehq--collapsed,.observablehq--expanded,.observablehq--function,.observablehq--gray,.observablehq--import,.observablehq--string:after,.observablehq--string:before {
	color: var(--syntax_normal)
}

.observablehq--collapsed,.observablehq--inspect a {
	cursor: pointer
}

.observablehq--field {
	text-indent: -1em;
	margin-left: 1em
}

.observablehq--empty {
	color: var(--syntax_comment)
}

.observablehq--blue,.observablehq--keyword {
	color: #ffffff
}

.observablehq--forbidden,.observablehq--pink {
	color: #ffffff
}

.observablehq--orange {
	color: #ffffff
}

.observablehq--boolean,.observablehq--null,.observablehq--undefined {
	color: var(--syntax_atom)
}

.observablehq--bigint,.observablehq--date,.observablehq--green,.observablehq--number,.observablehq--regexp,.observablehq--symbol {
	color: var(--syntax_number)
}

.observablehq--index,.observablehq--key {
	color: var(--syntax_key)
}

.observablehq--prototype-key {
	color: #ffffff
}

.observablehq--empty {
	font-style: oblique
}

.observablehq--purple,.observablehq--string {
	color: var(--syntax_string)
}

.observablehq--error,.observablehq--red {
	color: #ffffff
}

.observablehq--inspect {
	font: var(--mono_fonts);
	overflow-x: auto;
	display: block;
	white-space: pre
}

.observablehq--error .observablehq--inspect {
	word-break: break-all;
	white-space: pre-wrap
}